<div class="grid">
    <div class="proficiency-column">
      <h3  style="text-align: center;">Proficiency </h3>
      

      <hr>

    <div id="p1">
        <div> Expert</div>
        <a href="#" class="p1"></a>
    </div>

   
<br>
    <div id="p2">
        <div>Intermediate</div>
        <a href="#" class="p2"></a>
    </div>
    <br>
    <div id="p3">
        <div>Beginner</div>
        <a href="#" class="p3"></a>
    </div>
    
    </div>
    <div class="ar1">
      <h3  style="text-align: center;">Apps Roles</h3>
      <hr>
      <div id="ar1">
        <div>AWS DevOps Expert-Apps</div>
        <br>
        <div>AWS Solution Architect-Apps</div>
        <a href="#" class="ar1"></a>
       
    </div>
    <br>


    <div id="ar2">
        <div>Cloud Full Stack Developer-Apps (AWS)</div>
        <a href="#" class="ar2"></a>
      
    </div>
    
      <br>
     
    
      <div id="ar3">
        <div (click)="selectRole('Developer-Apps(AWS)')">Developer - Apps (AWS)</div>
        <a href="#" class="ar3"></a>
      
    </div>
    
</div>
    <div class="ir1">
        <h3  style="text-align: center;">Infra Roles</h3>
        <hr>
        <div id="ir1">
            <div>AWS DevOps Expert</div>
            <br>
            <div>AWS Solution Architect - Infra</div>
            <a href="#" class="ir1"></a>

        </div>
       
        
        <br>
        <div id="ir2">
            <div>AWS Cloud SysOps Lead</div>
            <br>
            <div>AWS Devops Analyst</div>
            <br>
            <div>AWS Cloud Architect</div>
            <a href="#" class="ir2"></a>
       
        </div>
        <br>
        <div id="ir3">
            <div>AWS Cloud Engineer</div>
            <a href="#" class="ir3"></a>
        
        </div>

         
      </div>
  </div>
  